# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Christian\Universidad\7mo_Semestre\Aplicaciones_Moviles\Repositorio\AMC-Naula-Lomas-Christian-Alejandro\Deber01\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
